<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To the space!</title>
    <link rel="stylesheet" href="../models/styles/css/index.css">
    <script type="module" src="../controllers/app.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 class="title">The Space Race</h1>
        <p class="subtitle">Which rocket will be the first to land in Mars?</p>
      </header>

      <section>
        <ul>

        </ul>
      </section>

      <section>
        <button>USA Rocket Launch</button>
        <button>URSS Rocket Launch</button>

        <button>Boost USA Rocket</button>
        <button>Boost URSS Rocket</button>
        <button>Chill USA Rocket</button>
        <button>Chill URSS Rocket</button>

        <button>Check USA Rocket Info</button>
        <button>Check URSS Rocket Info</button>
        <button>Check Both Info</button>
      </section>

    </div>
  </body>

</html>