<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To the space!</title>
    <link rel="stylesheet" href="../models/styles/css/index.css">
    <script type="module" src="../controllers/app.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <header class="header-container">
        <h1 class="title">The Space Race</h1>
        <p class="subtitle">Which rocket will be the first to land in Mars?</p>
      </header>

      <section>
        <form class="ground-control">
          <h4>LAUNCHER</h4>
          <div class="control-container">
            <button class="launcher-btn">USA Rocket</button>
            <button class="launcher-btn">URSS Rocket</button>
          </div>

          <h4>ENGINE</h4>
          <div class="control-container">
            <button class="engine-btn">Boost USA</button>
            <button class="engine-btn">Boost URSS</button>
            <button class="engine-btn">Chill USA</button>
            <button class="engine-btn">Chill URSS</button>
          </div>

          <h4>DATA</h4>
          <div class="control-container">
            <button class="data-btn">USA Rocket Info</button>
            <button class="data-btn">URSS Rocket Info</button>
            <button class="data-btn">Both Rockets Info</button>
          </div>
        </form> 
      </section>

      <section>
        <ul>

        </ul>
      </section>

    </div>
  </body>

</html>