// GLOBAL
html, 
body {
  margin: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

// LAYOUT
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

// HEADER
.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.2rem;
}

// SYSTEM CONTROL
.control-container {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
}

button {
  padding: 1rem;
  border: 0px solid black;
  border-radius: 0.5rem;
  outline: none;
  font-weight: 600;
  color: rgb(71, 61, 2);
}

button:hover {
  cursor: pointer;
}

.launcher-btn {
  background-color: rgb(236, 214, 143);
}
.launcher-btn:hover {
  background-color: rgb(255, 224, 123);
}

.engine-btn {
  background-color: rgba(236, 214, 143, 0.575);
}
.engine-btn:hover {
  background-color: rgba(255, 223, 119, 0.575);
}

.data-btn {
  background-color: rgba(236, 214, 143, 0.308);
}
.data-btn:hover {
  background-color: rgba(255, 224, 123, 0.308);
}


