// GLOBAL
html, 
body {
  margin: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

// LAYOUT
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

// HEADER
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 214, 143);
  width: 100%;
  padding-bottom: 1rem;
}
.title {
  color: rgb(56, 41, 1);
  font-size: 3rem;
  margin-bottom: 0
}

.subtitle {
  color: rgb(110, 74, 15);
  font-size: 1.2rem;
}

// SYSTEM CONTROL
.ground-control {
  border: 3px solid rgba(110, 74, 15, 0.178);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.control-container {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
}

button {
  padding: 1rem;
  border: 0px solid black;
  border-radius: 0.5rem;
  outline: none;
  font-weight: 600;
  color: rgb(56, 41, 1);
}

button:hover {
  cursor: pointer;
}

.launcher-btn {
  background-color: rgb(236, 214, 143);
}
.launcher-btn:hover {
  background-color: rgb(255, 224, 123);
}

.engine-btn {
  background-color: rgba(236, 214, 143, 0.575);
}
.engine-btn:hover {
  background-color: rgba(255, 223, 119, 0.575);
}

.data-btn {
  background-color: rgba(236, 214, 143, 0.308);
}
.data-btn:hover {
  background-color: rgba(255, 224, 123, 0.308);
}


